html, body{
	width:100%
}

.login-container{
	text-align:center;
	padding: 20px
}

p{
	text-align:center;
}

label{
	text-align:left
}

.flight-form{
	margin-top: 20px;
    padding: 20px;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 5px;
}